body {
  margin: 0;
  font-family: monospace;
  height: 100vh;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.primaryContainer {
  background-color: rgba(211, 211, 211, 0.175);
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 250px;
  text-align: center;

}



.stepsIndexes{
  display: flex;
  flex: 1;
  max-width: 500px;
  justify-content: space-around;
  align-items: center;

}

.eachStep {
   font-size: 16px;
   background-color: lightgray;
   padding: 5px 10px;
   border-radius: 50%;
}

.eachStep.eachStepActive {
  background-color: rgb(64, 0, 202);
  color: white;
}

.middleParagraph{
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
}

.btnContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.btnContainer button {
  font-family: monospace;
  border: none;
  cursor: pointer;
  color: white;
  background-color:rgb(64, 0, 202) ;
  padding: 7px 14px;
  border-radius: 15px;
  font-size: 12px;
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 680px;
  cursor: pointer;
   color: rgb(64, 0, 202);
   border: none;
   background-color: transparent;
   font-size: 20px;
   font-weight: 700;

}